<div fxLayout="column" fxLayoutAlign="start center" >
    <ul fxLayout="column" fxLayoutGap="30px">
        <li>
            <button mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
        </li>

        <li>
            <button mat-icon-button>
                <mat-icon>account_box</mat-icon>
            </button>
        </li>

        <li>
            <button mat-icon-button>
                <mat-icon>email</mat-icon>
            </button>
        </li>

        <li>
            <button mat-icon-button>
                <mat-icon></mat-icon>
            </button>
        </li>

        <li>
            <button mat-icon-button>
                <mat-icon ></mat-icon>
            </button>
        </li>
    </ul>
</div>
