:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side1{
    width: 70px;
    background-color: #3F0231;
    color: white;
}
.side1:hover{
    width: 100px;
}

mat-drawer{
    width: 150px;
    background-color: #D005A1;
    color: white;
}

mat-drawer-container{
    height: 100%;
}